/* * {
    border: 1px solid red;
  } */

/* @font-face {
    font-family: 'Jost';
    src: url('Jost-600-Semi.ttf') format('truetype');
  } */

@font-face {
    font-family: 'Jost Semi';
    src: url('./Jost/TrueType/Jost-600-Semi.ttf') format('truetype');      
}


.fixed-top-2 {
    margin-top: 176px;
    /* padding: 50px; */
    /* padding: 50px;  */
}

.fixed-top-1 {
    padding: 50px; 
    border: 1rem solid;
}

body { padding-top: 100px; }

#myWordForm { padding-top: 176px; 

}

#poetsToolBox {
    background-image: url(for_the_header_i_think_smaller.png);
    /* padding: 50px; */
} 

.navbar-brand {
    font-family: 'Jost Semi';
    letter-spacing: .5rem;
    font-size: 1.2rem
}

#poetsLink {
    /* padding: 50px; */
}