* {
    border: 1px solid red;
  }

.fixed-top-2 {
    margin-top: 126px;
    /* padding: 50px; */
    /* padding: 50px;  */
}

.fixed-top-1 {
    padding: 50px; 
}

body { padding-top: 100px; }

#myWordForm { padding-top: 100px; }

#poetsToolBox {
    background-image: url(for_the_header_i_think_smaller.png);
    /* padding: 50px; */
} 

#poetsLink {
    /* padding: 50px; */
}